<template>
  <main>
    <div class="container">
      <section class="container">
        <h2>{{ post.fields.title }}</h2>
        <article v-html="$md.render(post.fields.description)"></article>
        <article v-html="$md.render(post.fields.body)"></article>
      </section>
    </div>
  </main>
</template>

<script>
export default {
  computed: {
    post() {
      let post = this.$store.state.posts.filter(
        (el) => el.fields.slug === "home"
      );
      return post[0];
    },
  },
  head: {
    title: "John CV",
  },
};
</script>

<style lang="scss" scoped>
section {
  h2,
  p {
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  section {
    grid-template-rows: 40px 20px 1fr;
  }
}

.image {
  grid-area: 1 / 1 / 4 / 3;
  opacity: 0.8;
}
.title {
  grid-area: 1 / 3 / 2 / 6;
}
.description {
  grid-area: 2 / 3 / 3 / 6;
}
// .description {
//   grid-area: 3 / 3 / 4 / 6;
// }

.more {
  color: #eee;
}
</style>
